page-details {
  #map {
    height: 30%;
  }
  #topButtons {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
  }
  #topButtons button {
    flex: 1;
  }
  hr {
    margin: 0;
    padding: 0;
  }
  ul {
    padding: 0px;

    &.rating li {
      padding: 5px 10px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 30px;
      }
    }
  }
}
