page-details {
  #map {
    height: 30%;
  }
  #topButtons {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
  }
  #topButtons button {
    flex: 1;
  }

  .card-blue {
    background-color: #4285F4;
    padding: 13px 16px;
    display: block;
    line-height: 1.5;

    .card-title {
      display: block;
      font-size: 2.4rem;
      line-height: 1.2;
      margin: 2px 0;
      padding: 8px 0;
    }

    .card-title, p {
      color: #fff;
    }

    p {
      margin: 5px 0px;
    }

    .rate-num {
      margin-right: 5px;
      color: rgba(255,255,255,.7);
      vertical-align: middle;
    }

    rating {
      display: inline-block;
      vertical-align: middle;
    }
  }

  hr {
    margin: 0;
    padding: 0;
  }
  ul {
    padding: 0px;
    margin: 5px 0px;

    &.rating li {
      padding: 5px 0px !important;
      background: none;
      color: #fff;

      ion-icon {
        font-size: 1.8rem;
      }
    }
  }

  .card-area {
    padding: 16px 24px;

    ion-icon {
      font-size: 4rem;
      color: #4285F4;
      margin-right: 24px;
    }

    .mid {
      display: table-cell;
      line-height: 20px;
      vertical-align: middle;
    }

    .title {
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .gambar-area {
    height: 30%;
    display: block;
    overflow: hidden;

    img {
      min-width: 100%;
    }
  }
}
